<h1>About Us</h1>
<p>
	With over 25 years of our presence as Jawaharlal Kapur and Sons in Srinagar, Kashmir (India) 
	We have enormous amount of experience in Kashmir’s culture which are highlighted through our designs, 
	patterns and the products that we manufacture and sell.
</p>
<p> 
	Since 1991 AKS is present in Chandni Chowk, Delhi (India) and AKS is one of the largest suppliers 
	of Pure Silk Scarves and Crape, Chiffon, Georgette and Art Silk Sarees. The designs and patterns 
	that we have keeps pace with the current trends while keeping an eye on our glorious past.
</p>
<p> 
	We supply pure silk scarves and stoles in bulk quantity which are widely acknowledged by tourist in 
	India. We supply to various tourist destinations in India like Goa, Rajasthan, Kerala and Kashmir to 
	name a few. We also deal and supply Woolen stoles and shawls which are famous with people living in 
	colder regions and supply to countries like the US and the UK.
</p>

