<h1>Contact Us</h1>
	<p>
		Feel free to reply to us with your suggestions and comments.
		We would be pleased to hear from you about your work, your market, your dealings and future business 
		dealings with us
	</p>
	<p>
		You can contact us by any of the means below
	</p>
	<div class="addr"style="padding-left: 160px;">
		<div class="span-6" style="margin-right:60px;">
			<table style="border:solid 1px black; width:auto;">
				<tr>
					<td><strong>Address:</strong></td>
					<td>Ashwani Kapoor<br />1403, Mali Wara<br />Nai Sarak, Chandni Chowk,
					<br />Delhi - 110006<br />INDIA</td>	
				</tr>
				<tr>
					<td><strong>Email:</strong></td>
					<td>trends.ask@gmail.com</td>
				</tr>
				<tr>
					<td><strong>Office:</strong></td>	
					<td>+91-011-23287921</td>
				</tr>
				<tr>
					<td><strong>Mobile:</strong></td>	
					<td>+91-9811941973<br /> +91-9958005758</td>
				</tr>
			</table>
		</div>
		<div class="gmap">	
			<iframe style="border:1px solid black; display:inline; width:300px; height:200px;" 
			src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1403,+Mali+Wara,
			+Roshanpura,+Chandni+Chowk,+New+Delhi,+Delhi&amp;aq=0&amp;sll=28.653644,77.228115&amp;sspn=0.010978,
			0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=Maliwara,+Roshanpura,+Chandni+Chowk,+New+Delhi,+Delhi&amp;
			ll=28.653612,77.228136&amp;spn=0.022596,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			<br />
			<small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;
			q=1403,+Mali+Wara,+Roshanpura,+Chandni+Chowk,+New+Delhi,+Delhi&amp;aq=0&amp;sll=28.653644,
			77.228115&amp;sspn=0.010978,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=Maliwara,+Roshanpura,+Chandni+Chowk,
			+New+Delhi,+Delhi&amp;ll=28.653612,77.228136&amp;spn=0.022596,0.025749&amp;z=14&amp;iwloc=A" 
			style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
	</div>

