<h1>Ashwani Kapoor and Sons (AKS)</h1>
<p>
	Present in the heart of Delhi (Chandni Chowk) we are <strong>Ashwani Kapoor and Sons (AKS)</strong>
	a unit of <strong>Jawaharlal Kapur and Sons of Srinagar</strong>, Kashmir (India).
	We are in the business of pure silk, woolen, viscose scarves and stoles and also Crape, 
	Chiffon, Georgette and Art Silk Sarees.
</p>

